
*{
  margin: 0;
  padding: 0;
}
div.page{
  position: relative;
}
div.page img{
  z-index: 1;
  display: block; /*Removes white border between images*/
  width: 100%;
}
div.page#coverpage{
  background-color: #de4243;
}



/*Page2 livingroom*/
div > #gungstol{ /*Positioning/Animation*/
  display: inline;
  z-index: 2;
  width: 17%;
  position: absolute;
  left: 26%;
  top: 27%;

  animation-name: rocking;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: 48% 100%; /*Set fixed position on the bottom for the rotate*/
  animation-direction: alternate;
}
@keyframes rocking{ /*Animation*/
  from {transform: rotate(-2deg);}
  to {transform: rotate(9deg);}
}

div > #pendel{ /*Positioning/Animation*/
  display: inline;
  z-index: 2;
  width: 1%;
  position: absolute;
  left: 90.3%;
  top: 43.5%;

  animation-name: pendel;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: 48% 0%; /*Set fixed position on the bottom for the rotate*/
  animation-direction: alternate;
}
@keyframes pendel{ /*Animation*/
  from {transform: rotate(-7deg);}
  to {transform: rotate(3deg);}
}

div > #flame{ /*Positioning/Animation*/
  display: inline;
  z-index: 2;
  width: 3%;
  position: absolute;
  left: 60.5%;
  top: 32%;

}
@keyframes flame{ /*Animation*/

}


/*Page6 upper stairs*/
div > #fish{ /*Positioning/Animation*/
  display: inline;
  z-index: 2;
  width: 4%;
  position: absolute;
  left: 82%;
  top: 63%;

  animation-name: fish;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes fish{ /*Animation*/
  0% {;}
  20% {transform: rotateY(-90deg); left: 78%;}
  40% {transform: rotateY(-180deg); left: 84%;}
  60% {transform: rotateY(180deg; left: 86%;}
  80% {left: 83%;}
  100% {transform: rotateY(-180deg; left: 82%;}
}
