#firstNext{
  animation: startbutton alternate infinite 1.5s linear;
  animation-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
@keyframes startbutton{
  from {transform: scale(1);background-color: rgba(0, 0, 0, 0.1);}
  to {transform: scale(0.8);background-color: rgba(0, 0, 0, 0.3);}
}

div > #gungstol{
  animation-name: rocking;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-iteration-count: infinite;
  transform-origin: 48% 100%; /*Set fixed position on the bottom for the rotate*/
  animation-direction: alternate;
}
@keyframes rocking{ /*Animation*/
  from {transform: rotate(-2deg);}
  to {transform: rotate(9deg);}
}

div > #pendel{
  animation-name: pendel;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: 48% 0%; /*Set fixed position on the bottom for the rotate*/
  animation-direction: alternate;
}
@keyframes pendel{ /*Animation*/
  from {transform: rotate(-7deg);}
  to {transform: rotate(3deg);}
}

div > #fish{
  animation-name: fish;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes fish{ /*Animation*/
  0%    {left: 77%;}
  5%    {left: 76.5%;}
  10%   {left: 76%;}
  20%   {left: 75%;}
  30%   {left: 74%; transform: rotateY(20deg);}
  40%   {left: 73.5%; transform: rotateY(45deg);}
  50%   {left: 72.5%; transform: rotateY(90deg);}
  60%   {left: 73.5%; transform: rotateY(135deg);}
  70%   {left: 74%; transform: rotateY(180deg);}
  80%   {left: 75%; transform: rotateY(215deg);}
  90%   {left: 76%; transform: rotateY(250deg);}
  95%   {left: 76.5%; transform: rotateY(290deg);}
  100%  {left: 77%; transform: rotateY(330deg);}
}
@keyframes fishMobile{ /*Animation*/
  0%    {left: 55.5%;}
  5%    {left: 55%;}
  10%   {left: 54.5%;}
  20%   {left: 53.5%;}
  30%   {left: 52.5%; transform: rotateY(20deg);}
  40%   {left: 52%; transform: rotateY(45deg);}
  50%   {left: 51%; transform: rotateY(90deg);}
  60%   {left: 52%; transform: rotateY(135deg);}
  70%   {left: 52.5%; transform: rotateY(180deg);}
  80%   {left: 53.5%; transform: rotateY(215deg);}
  90%   {left: 54.5%; transform: rotateY(250deg);}
  95%   {left: 55%; transform: rotateY(290deg);}
  100%  {left: 55.5%; transform: rotateY(330deg);}
}
