body {
  background-color: #de4243;
}

div.page img {
  z-index: 1;
}

div.page#coverpage img{
  height: 100vh;
  width: auto;
}

@media only screen and (orientation: portrait) {
  body {
    position: relative;
    background-color: blue;
    width: 37012px;
    height: 100vh;
  }

  div.page {
    display: inline-block;
  }

  div.page img{
    height: 100vh;
    width: auto;
  }
}


@media only screen and (orientation: landscape) {
  div.page{
    position: relative;
  }
  div.page img{
    display: block;
    width: 100%;
  }
}
