/*
z-index:10 for book images, 20 for animated/static elements, 30 for textboxes
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/*body{overflow: hidden;}*/
/*All book pages*/
div.page{
  background-color: #de4243;
  height: 100vh;
}
/*All book images*/
div.page .pageimg{
  z-index: 10;
  display: block; /*Removes white border between images*/
  margin: auto;
}
/*Coverpage*/
div.page#page0 #authors{
  position: absolute;
}
/*Textboxes*/
p.story{ /*General values, other values specific to textbox under id below*/
  position: absolute;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/*Animated elements*/
/*Page2 livingroom*/
#gungstol, #pendel, #fish{
  display: inline;
  z-index: 20;
  position: absolute;
}
div > #gungstol{
  width: 15%;
  left: 31%;
  top: 26%;
}
div > #pendel{
  width: 0.9%;
  left: 82.2%;
  top: 45.2%;
}
/*Page6 upper stairs*/
div > #fish{
  width: 3.7%;
  left: 77%;
  top: 66.5%;
}

@media screen and (max-width: 640px){
  body {
    position: relative;
    width: 37012px;
  }

  div.page {
    display: inline-block;
  }

  div.page .pageimg{
    height: 100vh;
    width: auto;
  }
}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 1920px){
  div.page .pageimg{
    width: 80%;
  }
  div.page#page0 #authors{
    top: 4%;
    left: 36%;
  }
  /*Textboxes*/
  p.story{ /*General values, other values specific to textbox under id below*/
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: 600px;
  }
}

/*@media only screen and (orientation: portrait) {
  body {
    position: relative;
    width: 37012px;
  }

  div.page {
    display: inline-block;
  }

  div.page .pageimg{
    height: 100vh;
    width: auto;
  }
}


@media only screen and (orientation: landscape) {
  div.page{
    position: relative;
  }
  div.page img{
    display: block;
    width: 100%;
  }
}*/
