
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/*body{overflow: hidden;}*/

div.page{
  position: relative;
  height: 100vh;
  background-color: #de4243;
}

div.page .pageimg{
  z-index: 10;
  display: block; /*Removes white border between images*/
  width: 80%;
  margin: auto;
}

div.page#page0{
  background-color: #de4243;
}
div.page#page0 img{
  display: block;
  margin: 0 auto;
}
div.page#page0 #authors{
  position: absolute;
  top: 4%;
  left: 36%;
}

/*Textboxes*/
p.story{
  position: absolute;
  z-index: 30;
  padding: 10px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
}


/*Page2 livingroom*/
div > #gungstol{ /*Positioning/Animation*/
  display: inline;
  z-index: 20;
  width: 15%;
  position: absolute;
  left: 31%;
  top: 26%;
}

div > #pendel{ /*Positioning/Animation*/
  display: inline;
  z-index: 20;
  width: 0.9%;
  position: absolute;
  left: 82.2%;
  top: 45.2%;
}

/*Page6 upper stairs*/
div > #fish{ /*Positioning/Animation*/
  display: inline;
  z-index: 20;
  width: 3.7%;
  position: absolute;
  left: 77%;
  top: 66.5%;
}
