
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/*body{overflow: hidden;}*/

div.page{
  position: relative;
  height: 100vh;
  background-color: #de4243;
}

div.page .pageimg{
  z-index: 10;
  display: block; /*Removes white border between images*/
  width: 100%;
}

div.page#coverpage{
  background-color: #de4243;
}

div.page#coverpage img{
  display: block;
  margin: 0 auto;
}

/*Textboxes*/
p.story{
  position: absolute;
  z-index: 30;
  padding: 10px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
}


/*Page2 livingroom*/
div > #gungstol{ /*Positioning/Animation*/
  display: inline;
  z-index: 20;
  width: 17%;
  position: absolute;
  left: 26%;
  top: 27%;
}

div > #pendel{ /*Positioning/Animation*/
  display: inline;
  z-index: 20;
  width: 1%;
  position: absolute;
  left: 90.3%;
  top: 43.5%;
}

/*Page6 upper stairs*/
div > #fish{ /*Positioning/Animation*/
  display: inline;
  z-index: 20;
  width: 4%;
  position: absolute;
  left: 82%;
  top: 63%;
}

/*Page9 closeup */
div > #mouse{
  display: inline;
  z-index: 7;
  width: 15%;
  position: absolute;
  left: 35%;
  top: 66.5%;
}
